<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MetroFramework" publicKeyToken="5f91a84759bf584a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.3" newVersion="1.2.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings><add name="DBTTMSEntities" connectionString="metadata=res://*/TaskTrackerModel.csdl|res://*/TaskTrackerModel.ssdl|res://*/TaskTrackerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMED;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DBTaskTrackerEntities" connectionString="metadata=res://*/TTModel.csdl|res://*/TTModel.ssdl|res://*/TTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMED;initial catalog=DBTaskTracker;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>